body{
    background-color: palegreen;
    color: magenta;
}

.heading{
    width: 80%;
    font-size: 25px;
}

#camera{
    border: 2px dashed black;
    width: 350px;
    height: 350px;
}

#result_object_name,#result_object_accuracy,.name_of_objects{
    color: blue;
}

